<!-- <p >menuprinmovil works!</p> -->
<!-- <a routerLink="/foromovil:1"> hjg</a> -->

<div class="container">
  <div class="cont-first">
    <a routerLink="/redesmovil" class="imagen-holder">
      <img src="/assets/img/REDES4GMENU.png" alt="">
    </a>
    <a routerLink="/guiasmovil" class="imagen-holder">
      <img src="/assets/img/GUIASMENU.png" alt="">
    </a>
  </div>
  <div class="cont-second">
    <a routerLink="/pruebasmovil" class="imagen-holder">
      <img src="/assets/img/PRUEBASMENU.png" alt="">
    </a>
    <a routerLink="/foromovil:2" class="imagen-holder">
      <img src="/assets/img/FOROMENU.png" alt="">
    </a>
  </div>





</div>
