<!--Header
http://aprendeenlinea.udea.edu.co/lms/moodle/course/index.php?categoryid=57
-->
<div class="banner">
  <header>
    <div class="logo">
      <a href="http://www.unicauca.edu.co/versionP">
        <img src="assets/img/unicaucalogoAz.png" alt="Unicauca">
      </a>
      <a>
        <div id="titulo-logo">
          <span>
            Facultad de Ingenierías
            <br>
            TelcoMóvil
          </span>
        </div>

      </a>
    </div>
    <nav id="main-menu" class="menu navbar">
      <div class="social-bar">
        <div class="social">
          <div class="icons">
            <a target="_blank">
              <img src="assets/img/facebook.png" alt="">
            </a>
            <a target="_blank">
              <img src="assets/img/instagram.png" alt="">
            </a>
            <a target="_blank">
              <img src="assets/img/twiter.png" alt="">
            </a>
          </div>
          <div class="region region-menu-principal">
              <div>
                  <div id="search-block-form">
                    <div class="container-inline">

                        <button id="edit-submit--2" type="button" class="btn btn-login" >
                          <i class="fa fa-user-circle" aria-hidden="true"></i> Login
                        </button>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="menu_menu">
          <div class="region region-menu-principal">
            <div id="block-superfish-1" class="block block-superfish">
              <div>
                <ul id="superfish-1" class="menu sf-menu sf-main-menu sf-horizontal sf-style-white superfish-processed sf-js-enabled" >
                  <li id="menu-449-1" class="first sf-depth-1 menuparent">
                    <a routerLink="/home"  class="sf-depth-1 menuparent">Inicio
                    </a>
                  </li>
                  <li id="menu-219-1" menu-219-1 class="middle sf-depth-1 menuparent">
                    <a routerLink="/menup" class="sf-depth-1 menuparent"> TelcoMóvil
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
 <!-- termina el componente contenido -->

<!-- contenido aside y informacion  -->
<div id="page-content" class="row-fluid">
  <div id="region-bs-main-and-pre" class="span9">
      <div class="row-fluid">
          <section id="region-main" class="span8 pull-right">
              jhsdnakjnjsadmjohanaa
skdjmskñdms
          </section>




                <aside id="block-region-side-pre" class="span4 desktop-first-column block-region" data-blockregion="side-pre" data-droptarget="1">
   <a href="#sb-1" class="skip-block">Saltar Navegación</a><div id="inst54477" class="block_navigation  block" role="navigation" data-block="navigation" data-instanceid="54477" aria-labelledby="instance-54477-header">
     <div class="header">
            <div class="title" id="yui_3_15_0_3_1599684361438_64">
              <div class="block_action">
                <img class="block-hider-hide" alt="Ocultar bloque Navegación" src="http://aprendeenlinea.udea.edu.co/lms/moodle/theme/image.php?theme=aardvark_academica&amp;component=core&amp;rev=-1&amp;image=t/switch_minus" title="Ocultar bloque Navegación">
                <img class="block-hider-show" alt="Mostrar bloque Navegación" src="http://aprendeenlinea.udea.edu.co/lms/moodle/theme/image.php?theme=aardvark_academica&amp;component=core&amp;rev=-1&amp;image=t/switch_plus" title="Mostrar bloque Navegación"></div>
                <h2 id="instance-54477-header">Navegación</h2></div></div>
                <div class="content">
                  <ul class="block_tree list">
                    <li class="type_unknown depth_1 contains_branch" aria-expanded="true"><p class="tree_item branch canexpand navigation_node"><a href="http://aprendeenlinea.udea.edu.co/lms/moodle/">Página Principal</a></p>
                      <ul>
                        <li class="type_custom depth_2 item_with_icon">
                          <p class="tree_item leaf hasicon">
                            <a href="http://aprendeenlinea.udea.edu.co/lms/moodle/blog/index.php?courseid=0"><img alt="" class="smallicon navicon" title="" src="http://aprendeenlinea.udea.edu.co/lms/moodle/theme/image.php?theme=aardvark_academica&amp;component=core&amp;image=i%2Fnavigationitem">Blogs del sitio</a></p></li>
<li class="type_system depth_2 contains_branch current_branch" aria-expanded="true"><p class="tree_item branch active_tree_node" id="expandable_branch_0_courses" data-expandable="1" data-loaded="0"><a href="http://aprendeenlinea.udea.edu.co/lms/moodle/course/index.php">Cursos</a></p></li></ul></li></ul></div></div><span id="sb-1" class="skip-block-to"></span></aside>            </div>
  </div>
  <!-- aside -->
  <aside id="block-region-side-post" class="span3 block-region" data-blockregion="side-post" data-droptarget="1">

  </aside></div>

