<!-- <p>guiasmovil works!</p>

<router-outlet></router-outlet>
repita -->

<div id="block-system-main">
  <div>
    <div class="titulo">Facultad de Ingenierías</div>
    <p></p>

<div class="field field-name-field-resumen-programa field-type-text-long field-label-hidden">
<div class="field-items">
<div class="field-item even">
<p>Título que otorga: Ingeniero(a)</p>
<p>Ubicación: Popayán (Cauca)&nbsp;</p>
<p>Código SNIES Popayán: </p>
<p>Modalidad: Presencial</p>
<p>Jornada: Diurna</p>
<p>Admisión: </p>
<p>Duración: 10 semestres</p></div></div></div>

<p></p>

</div></div>
