/* header
http://aprendeenlinea.udea.edu.co/lms/moodle/course/index.php?categoryid=57
https://campusvirtual.uan.edu.co/
https://ingenieria.udistrital.edu.co/
https://campusvirtual.javeriana.edu.co/comunidad/9/detalle
https://www.virtualunimayor.edu.co/virtualidad/ */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.banner{
  height: 90px;

}
.logo{
  position: absolute;
  padding-top: 20px;
  padding-left: 100px;
  z-index: 100;
}
.logo img{
  height: 70px;
  width: 60px;
  float: left;
  margin-top: -10px;
}
img{
  border: 0px;
}
img{
  vertical-align: middle;
}

.menu {
  padding-right: 100px;
}

#titulo-logo {
    font-size: 14pt;
}

#titulo-logo{

  border-left: solid #c00000;
  padding-left: 10px;
  margin-left: 70px;
  color: #1B3357;
  margin-top: 22px;
  text-transform: uppercase;

}
.logo #titulo-logo{
  margin-top: 1pt;
  font-size: 14pt;

}
 nav{
   display: block;
  /* box-shadow: rgba(121,121,121,.35) 1px 10px 20px;
  padding-top: -10px;
  padding-left: 100px;
  height: 120px; */

}
.social-bar{
  float: right !important;
  margin-top: 20px;
}

div {
  display: block;
}
.social{
  float: right;
  margin-bottom: 10px;
}
.social .icon{
  position: absolute;
}
.social img{
  width: 27px;
  margin-top: 0;
}
.menu{
  padding-right: 100px;
}
.sf-menu.sf-style-white {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.menu_menu{
  margin-top: 0px;
}
img{
  vertical-align: middle;
}
/* @media(min-width: 768px)
.navbar{
    border-radius: 4px;
} */
div {
  display: block;
}
#block-search-form {
  height: 30px;
  margin-top: 22px;
}
#search-block-form {
  margin: -28px 0px 0px 84px;
}
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
.container-inline div, .container-inline button {
  display: inline;
}
.container-inline button{
  width: 100px;
  height: 38px;
}
.form-item, .form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
#search-block-form #edit-search-block-form--2 {
  height: 30px;
  width: 100px;
  margin-left: 24px;
  padding-left: 25px;
}
.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.btn-login{
  background: #fff;
  color: #1b3357;
  border-color: #1b3357;
  font-size: 18px;
  font-weight: 600;
  height: 30px;
  width: 86px;
text-align:center;
padding-top: 4px;
margin-left: 0.2rem !important;

/* text-align: center;
vertical-align: middle;
 -webkit-user-select: none;
-moz-user-select: none;
user-select: none;
background-color: transparent;
border: 1px;
padding: 0.375rem 0.75rem;
/* font-size: 1rem;
line-height: 1.5;
border-radius: 0.25rem;
/* transition: color 0.15s ease-in-out, */
/* background-color 0.15s ease-in-out,
 border-color 0.15s ease-in-out,
 box-shadow 0.15s ease-in-out; */
}
.btn-login:hover{
  color: #fff;
background-color: #1b3357;
border-color: #1b3357;
}

.navbar{

  position: relative;
  min-height: 100px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: rgba(121,121,121,.35) 1px 10px 20px;
  padding-top: 0px;
  padding-left: 100px;
  height: 116px;
}

.sf-menu.menu, .sf-menu.menu ul, .sf-menu.menu li{
margin: 0;
}

ul.menu{
  border: none;
  list-style: none;
  text-align: left;
}
.sf-menu{
  line-height: 1.0;
  z-index: 497;

}
ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start:40px ;
}
ul.menu li{
margin: 0 0 0 0.5em;
}

.sf-menu li{
  float: left;
  position: relative;
  z-index: 498;

}
.sf-menu .sf-menu *{
  list-style: none;
  margin: 0;
  padding: 0;
}
li{
  display: list-item;
  text-align: -webkit-match-parent;

}
.sf-main-menu a{
  border: none !important;
}
.sf-main-menu a:hover{
  background: #b7b4b4 !important;
  font-weight: bold;
  border-bottom: 2px solid #77170E !important;
}

.sf-main-menu  li{
  font-size: 10pt;
  color: #1B3357;
  background: none !important;


}

.sf-main-menu  > li > a{
  text-transform: uppercase;
}
.sf-main-menu  li:hover{
   background: #E6E6E6

}
.sf-main-menu .active-trail{
  border-bottom: 2px solid #77170E;
}
.sf-main-menu .active {
  background: none;
  font-weight: bold;
  color: #1b3357 !important;
}
.sfHover, .sfHover ul{
  background: #E6E6E6;
}


.menuparent.sfHover  ul{
  margin-top: 9px;
}

.menuparent.sfHover > a{
  background: #b7b4b4 !important;
  font-weight: bold;
  border-bottom: 2px solid #77170E !important;
}
 .sf-menu.sf-style-white a, .sf-menu.sf-style-white span.nolink {
  border: 1px solid #e1e1e1;
  /* color: #555555; */
  padding: 0.75em 1em;
}

.sf-menu.sf-style-white {
  float: left;
  margin-bottom: 1em;
  padding: 0;
}
.sf-menu.sf-style-white li, .sf-menu.sf-style-white.sf-navbar {
  background: #f9f9f9;
}
.sf-main-menu > li > a {
  text-transform: uppercase;
}

.menu_menu a{
  font-size:14pt ;
  border: none !important;
  color: #1B3357;
}
.sf-main-menu li{
  font-size: 10pt;
  color: #1B3357;
  background: none !important;
}
.sf-menu a, .sf-menu span.nolink {
  display: block;
  position: relative;
}
.sf-menu, .sf-menu * {
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  color: inherit;
  text-decoration: none !important;
}
a{
  background-color: transparent;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

/* contenido */

div#page {
  background: rgba(252, 255, 255,0.92);
  margin-top: -11px;
  padding-top: 11px;
}

/* .container-fluid {
  max-width: 1680px;
  margin: 0 auto;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
} */
.breadcrumb-button {
  float: right;
  margin-top: 1px;
  height: 35px;
}
.breadcrumb-button {
  float: right;
  margin-top: 4px;
}
.accesshide {
  position: absolute;
  left: -10000px;
  font-size: 1em;
  font-weight: normal;
}
.breadcrumb {
  background: transparent;
}
.breadcrumb {
  padding: 8px 15px;
  margin: 0 0 20px;
  list-style: none;
  /* background-color: #f5f5f5; */
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.breadcrumb>li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #fff;
  *zoom: 1;
}
li {
  line-height: 20px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.breadcrumb a {
  text-shadow: none;
  color: #000;
}
a {
  color: #3d3d3d;
  text-decoration: none;
}
a {
  color: #0070a8;
  text-decoration: none;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

/* contenido y aside */

.contenido {
  margin-top: 0.5px;
  margin-bottom: 50px;
}
.contenido {
  /* text-align: justify; */
}

.content{
  height: 22rem;
}

.bd-toc-link {
  display: block;
  padding: .2rem 1.5rem;
  font-weight: 600;
  color: rgba(0,0,0,.65) !important;
  text-align: center;
}
.nav {
  display: -ms-flexbox;
  display: flex ;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
.bd-toc-item.active>.bd-sidenav {
  display: block;
}
.bd-sidenav {
  /* display: none; */
}
.bd-sidebar .nav>li>a {
  display: block;
  padding: 4px 20px;
  font-size: 100%;
  color: rgba(0,0,0,.65);
  text-align: left;
}
/* .bd-sidebar .nav>li {

  margin: auto;
  justify-content: left;
} */
section {
  background-size: cover;
  background-position: center;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.left-menu {
  cursor: pointer;
  margin-right: 70px;
  width: 26%;
  float: left;
  margin-bottom: 20px;
  /* border: solid 2px #77170E; */
}
.section {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  overflow: auto;
  min-height: max-content;
  padding-bottom: 100px;
  font-family: 'RobotoCondensed';
  position: relative;
  font-size: 20px;
  height: -moz-max-content !important;
}.left-menu
.sf-menu.menu, .sf-menu.menu ul, .sf-menu.menu li {
  margin: 0;
}
.left-menu ul {
  padding-right: 15px;
  text-align: right;
  width: 100%;
}
ul.menu {
  border: none;
  list-style: none;
  text-align: left;
}
.menu {
  padding-right: 100px;
}
.sf-vertical, .sf-vertical li {
  width: 12em;
}
.sf-menu {
  line-height: 1.0;
  z-index: 497;
}
.sf-menu, .sf-menu * {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.seccion-contenido {
  /* float: right; */
  /* max-width: 780px; */
  width: 100%;
  margin-top: 5px;
}
.titulo-noticia a, .seccion-contenido .titulo {
  font-size: 30pt;
}
.seccion-contenido .titulo {
  margin-top: -7px;
  color: #77170E;
  border-bottom: solid 3px #77170E;
  padding-bottom: -5px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.seccion-contenido p {
  font-size: 17pt;
  text-align: justify;
  width: 96%;
}
p {
  margin: 0 0 10px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#contacto.section {
  overflow: hidden;
}
#contacto {
  height: 435px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: 'RobotoCondensed';
}
.fondo-imagen-azul {
  width: 100%;
  height: 100%;
  /* background: rgba(5, 22, 70, 0.68); */
  background: rgba(0, 9, 33, 0.5);
}

.fondo-imagen-azul {
  /* background: rgba(5, 22, 70, 0.68); */
  background: rgba(0, 9, 33, 0.8);
}
#contacto .titulo-seccion {
  color: white;
  border-color: white;
}
section .titulo-seccion {
  font-size: 30pt;
}
section .titulo-seccion {
  position: relative;
  margin-top: 50px;
  margin-bottom: 10px;
  border-left: solid #77170e;
  border-left-width: 4px;
  padding-left: 8px;
  color: #1B3357;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  font-family: 'Roboto' !important;
}
.contacto {
  float: left;
  /* width: 50%; */
}
article {
  display: block;
}
/* .titulo-contacto {
  font-size: 26pt;
} */
.titulo-contacto {
  font-size: 22pt;
}
.titulo-contacto {
  margin-bottom: 20px;
  background: #77170E;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 10px;
  /* width: max-content; */
  font-family: 'Roboto';
  width: -moz-max-content;
}
.contenido-contacto {
  font-family: 'Roboto';
}
p {
  margin: 0 0 10px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.social-footer {
  /* text-align: center; */
  margin-top: 20px;
}
.social-footer img {
  width: 25px;
  margin-right: 15px;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

.logo-footer img {
  width: 100%;
}
.logo-footer {
  width: 515px;
  position: absolute;
  float: right;
  right: 0;
  /* margin-right: 85px; */
  margin-right: 17px;
  margin-top: -140px;
}
footer {
  position: absolute;
  width: 100%;
  height: 110px;
  background: #77170E;
  color: white;
  text-align: center;
  font-size: 9pt;
  font-family: 'Roboto';
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
footer p {
  margin-top: 35px;
}
p {
  margin: 0 0 10px;
}
.sellos {
  text-align: right;
  padding: 10px 100px 10px 10px;
  margin-top: -80px;
  background: #77170E;
}
.sellos img {
  max-width: 100px;
  max-height: 100px;
}
img {
  vertical-align: middle;
}
img {
  border: 0;
}

/* aside */

a.skip-block, a.skip {
  position: absolute;
  top: -1000em;
  font-size: .85em;
  text-decoration: none;
}
div.block {
  padding: 0px 0px 0px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.14);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-right: 15px;
}
.block {
  background-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
  padding-bottom: 5px;
  border-radius: 2px;
}

.block {
  min-height: 20px;
  padding: 19px;
  padding: 8px 0;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-color: #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.block.hidden .header .block_action .block-hider-hide {
  display: none;
}
.block .header .block_action .block-hider-show, .block .header .block_action .block-hider-hide {
  cursor: pointer;
}
.mdl-left, .dir-rtl .mdl-right {
  text-align: left;
}
.block .header .block_action>* {
  margin-left: 3px;
}
i.section.hidden, .block.hidden, .block.invisible {
  display: block;
  visibility: visible;
}
.hidden {
  display: none;
  visibility: hidden;
}
li.section.hidden, .block.hidden, .block.invisible {
  display: block;
  visibility: visible;
}
div.block .header {
  color: #fff;
  background: #77170E;
  /* background-image: url(/lms/moodle/theme/image.php?theme=aardvark_academica&component=theme&image=degradados%2Fblq_rep1); */
  background-repeat: repeat-x;
  margin: 0;
  padding: 8px 8px 8px 8px;
  border: none;
  -webkit-border-radius: 6px 6px 0px 0px;
  -moz-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
}
.block .header .block_action {
  float: right;
  padding: 3px 15px;
}

.block .header .block_action>* {
  margin-left: 3px;
}
.block .header .title h2 {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;

}
/* .block .header .title h2, .block h3.main {
    font-weight: normal;
    text-shadow: none;a
} */
.block .header h2 {
  color: #FFF;
  text-transform: none;
}
.block.hidden .header .block_action .block-hider-show {
  display: inline;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.block .header .block_action .block-hider-show {
  display: none;
}
.block .header h2 {
  display: block;
  padding: 0px;
  margin: 0;
  font-size: 11px;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 20px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  text-transform: uppercase;
  word-wrap: break-word;
}
div.block .content {
  /* background-image: url(/lms/moodle/theme/image.php?theme=aardvark_academica&component=theme&image=degradados%2Fblq_arrow); */
  background-repeat: no-repeat;
  padding-top: 15px;
}
.block .content {
    padding: 4px 14px;
    word-wrap: break-word;
}
.unlist, .unlist li, .inline-list, .inline-list li, .block .list, .block .list li, .section li.activity, .section li.movehere, .tabtree li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.block_navigation .block_tree {
  margin: 5px;
  padding-left: 0px;
  overflow: visible;
}
ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.block .content {
  padding: 4px 14px;
  word-wrap: break-word;
}
.unlist, .unlist li, .inline-list, .inline-list li, .block .list, .block .list li, .section li.activity, .section li.movehere, .tabtree li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.block_navigation .block_tree li {
  margin: 3px;
  list-style: none;
  padding: 0;
}
li {
  line-height: 20px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.jsenabled .block_navigation .block_tree .tree_item.branch {
  cursor: pointer;
}
.block_navigation .block_tree .tree_item.branch.navigation_node {
  background-image: none;
  padding-left: 0;
}
.block_navigation .block_tree li ul {
  padding-left: 0;
  margin: 0;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.unlist, .unlist li, .inline-list, .inline-list li, .block .list, .block .list li, .section li.activity, .section li.movehere, .tabtree li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.block_navigation .block_tree li {
  margin: 3px;
  list-style: none;
  padding: 0;
}
.block_navigation .block_tree li.item_with_icon > p {
  position: relative;
  padding-left: 21px;
}
.block_navigation .block_tree li {
  margin: 3px;
  list-style: none;
  padding: 0;
}
.unlist, .unlist li, .inline-list, .inline-list li, .block .list, .block .list li, .section li.activity, .section li.movehere, .tabtree li {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* diseño dividir en tres partes */
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
}

.flex-xl-nowrap {
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  /* font-size: 3rem; */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
}



.bd-sidebar {
  -ms-flex: 0 1 320px;
  flex: 0 1 320px;
  /* flex-basis: 0;
  flex-grow: 1; */

}


/* .bd-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  z-index: 1000;
  height: calc(100vh - 4rem);
} */

.bd-sidebar {
  border-right: 1px solid rgba(0,0,0,.1);
}
.bd-sidebar {
   -ms-flex-order: 0;
    order: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.bd-toc {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
}
.bd-toc {
 -ms-flex-order: 2;
  order: 2;
  /* flex-basis: 0;
  flex-grow: 1; */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}
.d-xl-block {

  display: block!important;
}
/* .col-xl-2 {
  -ms-flex: 0 0 20.666667%;
  /* flex: 0 0 16.666667%;
  flex: 0 0 20.666667%;
  max-width: 20.666667%;
} */
.col-xl-2 {
  flex: 0 0 25.666667%;
  max-width: 25.666667%;
}

 .col-md-3 {
  -ms-flex: 0 0 40%;
   flex: 0 0 120%;
  max-width: 40%;
}
/* .col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
} */
.section-nav {
  padding-left: 0;
  border-left: 1px solid #eee;
}

.toc-entry {
  display: block;
}
.toc-entry a {
  display: block;
  padding: .125rem 1.5rem;
  color: #77757a;
}
.bd-content {
  -ms-flex-order: 1;
  order: 1;
  /* flex-grow: 1;
  flex-basis: 0; */
}
.pl-md-5, .px-md-5 {
  padding-left: 3rem!important;
}

.pb-md-3, .py-md-3 {
  padding-bottom: 1rem!important;
}
.pt-md-3, .py-md-3 {
  padding-top: 1rem!important;
}
 .col-xl-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
 .col-md-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 130%;
  max-width: 75%;
  max-width: 130%;
}
 /* .col-12 {
  -ms-flex: 0 0 100%;
  /* flex: 0 0 100%;
  /* max-width: 100%;
} */

/* iconos */

@font-face {
  font-family: 'fontello';
  src: url('/telcomovil4g/src/assets/icon/icon/fontello.eot?92521958');
  src: url('/telcomovil4g/src/assets/icon/fontello.eot?92521958#iefix') format('embedded-opentype'),
       url('/telcomovil4g/src/assets/icon/fontello.woff2?92521958') format('woff2'),
       url('/telcomovil4g/src/assets/icon/fontello.woff?92521958') format('woff'),
       url('/telcomovil4g/src/assets/icon/fontello.ttf?92521958') format('truetype'),
       url('/telcomovil4g/src/assets/icon/fontello.svg?92521958#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92521958#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-chart-bar:before { content: '\e800'; } /* '' */
.icon-clipboard:before { content: '\e801'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
